extends layout.pug
block style
    link(rel="stylesheet", href="style.css")
block content
    input.search(name="code" type='text' placeholder='Equity code')
    #graph        
        div#date 
            h5 
        canvas(id='myChart' )
    
block script
    script(defer src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0")
    script(defer src="/script.js")